POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR=./migrations
GOOSE_DBSTRING="host=127.0.0.1 port=5431 user='' password='ТВОЙ_ПАРОЛЬ' dbname='' sslmode=disable"